<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Grade Book</a>
    </div>
  </div>
</nav>

<div class="container" id="main-form">

  <div class="report">
    <h2>History Grades</h2>

    <table class="table table-bordered table-hover" id="report-table">
      <thead>
      <tr>
        <th>Student Name</th>
        <th>Grade</th>
        <th>Remove</th>
      </tr>
      </thead>
      <tbody>

      <% @students.each do |student| %>
        <tr>
          <td><%= student.name %></td>
          <td><%= student.grade %></td>
          <td><a href="#">
            <span class="glyphicon glyphicon-remove"></span>
          </a></td>
        </tr>
      <% end %>
      
      <tr>
        <td>Add Student</td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>


    <h3>Class Summary:</h3>
    <h4>Min:</h4>
    <h4>Max:</h4>
    <h4>Average:</h4>

  </div>

</div>


