body {
  padding-top: 50px;

}
.report {
  padding: 40px 15px;
  text-align: center;
}

#main-form {
  margin-top: 50px;
  background-color: cornflowerblue;
  min-height: 700px;

}

#report-table {
  font-size: medium;
  th {
    text-align: center;
  }

}
